<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>Review your project</h3><br/><br/>
                <div class="row">
                  <div class="col-lg-6 col-md-9" style="margin: auto;">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{project.jobNumber}}</div>
                                </div>
                                <div class="col-xs-9 text-left">
                                    <div class="huge">{{project.title}}</div>
                                </div>
                            </div>
                        </div>
                        <div style="text-align: left; padding: 10px;">
                            <div><b>Status:</b> {{project.status}}</div><br/>
                            <div><b>Started on:</b> {{dateFormat project.date "D MMMM YYYY"}}</div><br/>
                            <div><b>Created by:</b> {{project.creator.firstName}} {{project.creator.lastName}}</div><br/>
                            <div><b>Assigned to:</b> {{project.worker.firstName}} {{project.worker.lastName}}</div>
                        </div>
 
                            <div class="panel-footer">
                                <span class="pull-right"><a href="/projects/comments/{{project.id}}">Review comments</a></span>
                                <span class="pull-left"><a href="/projects/edit/{{project.id}}">Update project information</a></span><br/>
                                <span class="pull-right"><a href="/">Go back</a></span>
                                <span class="pull-left"><a href="/projects/delete/{{project.id}}">Delete</a></span>
                                <br/>
                            </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>